/*----------------
    RESET
------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #B91550;
}

.container {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

form {
    padding-left: 9.375rem;
    padding-right: 9.375rem;
    padding-top: 3.125rem;
 
}
.info {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.info h2 {
    padding-bottom: 1.25rem;
    color: #B91550;
    text-align: center;
}

input {
    border-color: #B91550;
    font-size: 1.25rem;
}
select {
    border-color: #B91550;
    font-size: 1.25rem;
}

.btn {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.875rem;
    
}

button {
    font-size: 1.25rem;
    color: #B91550;
    
}


.ticket .row {
    border-top: .0625rem solid gray;
    border-bottom: .0625rem solid gray;
    display: flex;
    margin-bottom: 1.25rem;
    min-height: 7.5rem;

}

.ticket .col {
    padding: .625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

.d-none {
    display: none;
}

.ticket-head {
    background-color: #808080;
    padding: .625rem 1.25rem;
    flex-grow: 1;
}

.ticket h2{
    padding: 1.25rem 1.25rem;
}